:root {
  --primary-background: #243f47;
  --primary-text: #ffffff;
  --header-text: #def7ff;
  --bowlby-one-font: "Bowlby One";
  --helvetica-font: "Helvetica";
  --pt-mono-font: "PT Mono";
  --pt-sans-font: "PT Sans";
  --subheader-color: #f4fafc;
}
